GtkBox * {
   font-size: 10;
}

GtkGrid *, GtkFrame * {
  padding-bottom:0px;
  padding-top:0px;
  margin:0px;
}

GtkFrame, #rightpropbox GtkBox {
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
}

.pane-separator{
    border-radius: 2px;
    border-width:1px;
    border-color: #000000;
    background-color:#cccccc;
    border-style: solid;
}
